.myProjectsPage{
    color: white;
}
.myprojectsTable{
    margin-top: 80px;
   width: 90%;
   text-align: center;
   margin-left: 120px;
   /* border-top: 0.1px solid lightgray */
}
.trow{
    border-bottom: 0.2px solid lightgray;
    height: 55px;
}
.trow:hover{
    background-color: rgb(15, 96, 122);
    cursor: pointer;
}
.projectsTableHead{
    height: 40px;
    border-bottom: 0.2px solid;
}
#myWin{
    background-color: #111432;
    color: white;
    border: none;
    font-size: large;
}
.myWinProjects{
    display: flex;
    margin-left: 120px;
    border-bottom: 1px solid lightgray;
    position: fixed;
    top: 0px;
    height: 80px;
    width: 100%;
    padding-top: 13px;
    background-color: #111432;
}